DATABASE_URL=postgresql://boipuja:boipuja@localhost:5432/boipuja

API_HOST=localhost
API_PORT=3000

CORS_ORIGIN=http://localhost:5173

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=